<div class="row">
  <div class="panel">
    <h1>{{c.component.name}}</h1>
  </div>

  <div class="panel">
    <tabset>
      <tab ng-repeat="variation in c.component.variations">
        <tab-heading>{{variation.name}}</tab-heading>
        <iframe src="{{c.template(variation)}}" width="60%"></iframe>
      </tab>
    </tabset>
  </div>
  <div class="panel">
    <tabset>
        <tab>
          <tab-heading>Editorial</tab-heading>
          <div>{{c.component.description_editorial}}</div>
        </tab>
        <tab>
          <tab-heading>Advanced</tab-heading>
          <div>{{c.component.description_advanced}}</div>
        </tab>
        <tab>
          <tab-heading>Specifications</tab-heading>
          <div>{{c.component.description_specification}}</div>
        </tab>
    </tabset>
  </div>
</div>