<!doctype html>
<html class="" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta charset="utf-8">
    <title>v0.2</title>
    
    <link href="../bower_components/foundation/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../bower_components/foundation/css/foundation.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../OUT-API/assets/css/custom.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body ng-app="app"  ng-controller="ComponentsListController">
    
    <!-- wrapper general -->
    <section id="wrapper">
      
      <div class="sticky">
        <top-bar>
          <ul class="title-area">
            <li class="name">
              <h1>
                <a ui-sref="home">
                  <img src="http://www.eurelis.com/themes/custom/eurelis-theme/logo.svg" alt="Accueil" height="40">
                  API
                </a>
              </h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a>Menu</a></li>
          </ul>

          <top-bar-section>
            <!-- Right Nav Section -->
            <ul class="right">
              <li><a ui-sref="page">Pages</a></li>
              <li has-dropdown>
                <a>Components</a>
                <ul top-bar-dropdown>
                  <li ng-repeat="component in components">
                    <a ui-sref="component({id: component.id})" ng-bind="component.id"></a>
                  </li>
                </ul>
              </li>
              <li has-dropdown>
                <a>Integrations</a>
                <ul top-bar-dropdown>
                  <li ng-repeat="component in integrations">
                    <a ui-sref="integration({id: component.id})" ng-bind="component.id"></a>
                  </li>
                </ul>
              </li>
            </ul>
          </top-bar-section>
        </top-bar>
      </div>

      <div class="global" ui-view="global">Loading...</div>

    </section>

    

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/foundation/js/foundation.min.js"></script>
    <script src="../bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="../bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="../bower_components/foundation/js/foundation/foundation.tab.js"></script>
  

    <script>
    $(function() {
      // Foundation JavaScript
      // Documentation can be found at: http://foundation.zurb.com/docs
      $(document).foundation();
    
    });  
    </script>

    <script src="../bower_components/angular-foundation/mm-foundation-tpls.js"></script>
  

    <script src="../OUT-API/assets/src-js/apiModule.js"></script>
    <script src="../OUT-API/assets/src-js/componentsListController.js"></script>
    <script src="../OUT-API/assets/src-js/homeController.js"></script>
    <script src="../OUT-API/assets/src-js/componentController.js"></script>
    <script src="../OUT-API/assets/src-js/componentService.js"></script>


  </body>
</html>
