---
pagetitle: Page d'exemple
list:
  - partialname: article
    component: <%= article_exemple %>
  - partialname: overflow
    component: <%= overflow_exemple %>
---
Cette page contient un article et un overflow.