/* rouge : #ff3c00
 bleu : #00243a; */
.row{
	max-width: 80%;
}
.top-bar{
 	background: #00243a;
}
.top-bar h1{
	min-width: 200px;
 	vertical-align: middle;
}
.top-bar h1 img{
 	max-height: 40px;
 	display: inline-block;
 	min-width: 100px;
 	max-width: 60%;
 	background: #fff;
 	vertical-align: middle;
}
.panel{
	background: #f5f5f5;
}
.panel h1,
.panel a,
.panel a tab-heading{
	color: #ff3c00;
}
iframe{
	width: 100%;
}